@import "/src/styles/root";
 
.about-wrapper{
    padding: 40px;
    
    .about-content {
        font-family: $FontUbuntu;
        color: var(--text-primary);
        font-size: 24px;
        font-weight: 400;
        display: flex;
        margin-top: 40px;
        gap: 50px;
        align-items: center;
      
        div {
            img {
                max-height: 355px;
                border-radius: 15px;
            }
        }

        .text-container {
            row-gap: 20px;
            display: flex;
            flex-direction: column;
        }
    }

}

@media screen and (max-width: 768px) {
    .about-content{
        flex-direction: column;
    }
    
}